{% load static %}

<div class="bg-white mt-16 lg:mt-0">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="container flex flex-wrap flex-col md:flex-row items-center">
      <!--Left Col-->
      <div class="flex flex-col w-full md:w-2/5 justify-center flex-wrap items-start text-center md:text-left">
        <h1 class="my-4 text-3xl font-bold leading-tight capitalize">
          What do we do
        </h1>
        <p class="leading-normal text-2xl mb-8">
          We Create Digital Marketing & Design Services That Make Business Owners' Lives Easier
        </p>
        <p>
          We evaluate current strategy, marketing efforts and help with suggestions for improvements. · Plan, implement social media, marketing campaigns and Paid digital adverts
        </p>
    </div>
      <!--Right Col-->
      <div class="w-full h-[72vh] md:w-3/5 py-6 text-center order-1 sm:order-last">
        <img class="w-full md:w-4/5 z-50  h-full object-contain rounded-3xl" src="{% static 'img/hero.jpeg' %}" />
      </div>
    </div>
  </div>
</div>
