{% load static %}

<div class="bg-gray-50">
  <div class="flex flex-col md:flex-row pb-16">

  <div class="basis-full md:basis-1/2 order-first md:order-last" >
    <div class="h-72 md:h-96 lg:h-[80vh] w-full">
      <img class="h-full w-full object-cover rounded-none md:rounded-bl-3xl" src="{% static 'img/hero.jpeg' %}" alt="">
    </div>
  </div>
  <div class="basis-full md:basis-1/2 order-last md:order-first">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="mt-4 md:mt-24 lg:mt-28">
        <div class="flex justify-center text-center gap-2 justify-center flex-wrap items-center lg:pl-20 text-center md:text-left">
            <h1 class="my-4 text-3xl font-bold leading-tight capitalize">
              What do we do
            </h1>
            <p class="leading-normal text-2xl py-2">
              We Create Digital Marketing & Design Services That Make Business Owners' Lives Easier
            </p>
            <p>
              We evaluate current strategy, marketing efforts and help with suggestions for improvements. · Plan, implement social media, marketing campaigns and Paid digital adverts
            </p>
            <div class="flex justify-center mt-4">
              <button class="bg-gray-800 text-white px-8 py-2 rounded-lg">
                Know more
              </button>
            </div>
          </div>
        </div>
  
    </div>
  </div>

  </div>
</div>

