{% load static %}

<div class="bg-white">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <h2 class="heading pt-4 pb-2 ">
        our works
    </h2>
    <p>
        short description
    </p>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2">
        <div class="border flex flex-col justify-center items-center gap-2  rounded-lg ">
            <img class="h-72 object-contain " src="{% static 'img/hero.jpeg' %}"alt="">
            <div class="px-5 py-1 rounded-full mb-4">
                Project #1 
            </div>
        </div>
        <div class="border flex flex-col justify-center items-center gap-2  rounded-lg hover:">
            <img class="h-72 object-contain " src="{% static 'img/hero.jpeg' %}"alt="">
            <div class="px-5 py-1 rounded-full mb-4">
                Project #2
            </div>
        </div>
        <div class="border flex flex-col justify-center items-center gap-2  rounded-lg hover:">
            <img class="h-72 object-contain " src="{% static 'img/hero.jpeg' %}"alt="">
            <div class="px-5 py-1 rounded-full mb-4">
                Project #3
            </div>
        </div>
    </div>
 
        
    
</div>
</div>
