{% extends "base.html" %}
{% load static %}


{% block content %}

     <div>
          {% include  "components/land.html" %}
     </div>

     {% comment %} services {% endcomment %}
     <section>
          <div class="bg-white">
               <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
                <div class="flex flex-col justify-center item-center flex-wrap  text-cente mb-8">

                    <h2 class="mb-4 text-3xl tracking-tight font-extrabold text-center text-gray-900"> 
                        Main Services
                    </h2>
                    <p class="md:px-32 mb-4 text-md tracking-tight font-normal text-center text-gray-900">
                        We evaluate current strategy, marketing efforts and help with suggestions for improvements. · Plan, implement social media, marketing campaigns and Paid digital adverts
                      </p>
                    
                </div>
                
               <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 ">
                   {% for service in services %}
       
                   <div class="border hover:shadow-md rounded-t-lg flex flex-col justify-center items-center gap-4 rounded-lg hover:">
                    <div class="h-40 lg:h-64 w-full">
                       <img class="h-full w-full object-cover rounded-t-lg" src="{{ service.image.url }}" alt="">

                    </div>
                    <div class="px-5 pb-6 rounded-full">
                        {{service.title}}
                    </div>
                   </div>
                   {% endfor %}
                   </div>
           </div>
       </div>
       
     </section>

     {% comment %} clients {% endcomment %}
     <section>
          <div class="bg-white py-8">
               <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
                    <div class="flex flex-col justify-center item-center flex-wrap  text-cente mb-8">

                        <h2 class="mb-4 text-3xl tracking-tight font-extrabold text-center text-gray-900"> 
                            Some of our esteemed clients
                        </h2>
                        <p class="md:px-32 mb-4 text-md tracking-tight font-normal text-center text-gray-900">
                            {% comment %} COMMENT {% endcomment %}
                        </p>
                        
                    </div>
                    <div class="flex flex-cols md:flex-rows gap-4 justify-evenly space-x-6">
                         {% for client in clients %}
                         <div class="flex flex-col flex-wrap">
                              <div>
                                <img class="h-40 w-40 object-contain" src="{{ client.image.url }}"  alt="">
                            </div>
          
     
                         </div>
                         {% endfor %}
                    </div>
     
                    
     
               </div>
     </div>

     </section>


     <section>
        <div class="bg-gray-100 py-8">
             <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
                  <div class="flex flex-row justify-center item-center flex-wrap  text-cente mb-8">
                   
                        
                                        
                  </div>
   
                  
   
             </div>
   </div>


     {% comment %} contact-us 
     <section>
          {% load static %}

          <div class="bg-white ">
              <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 ">
                  <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Contact Us
                  </h2>
                  <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">
                    we woud like to hear from you
                  </p>
          
                  <form action="" method="post" class="space-y-8 rounded-lg  ">
                    {% csrf_token %}
                      <div class="grid grid-cols-1 md:grid-cols-2 py-4 gap-4 ">
                          <div>
                              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your
                                  email</label>
                              <input type="email" id="email"
                                  class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
                                  placeholder="name@example.com" required>
                              <label for="subject"
                                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Subject</label>
                              <input type="text" id="subject"
                                  class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
                                  placeholder="Let us know how we can help you" required>
                              <label for="number" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Phone Number</label>
                              <input type="text" id="number"
                                  class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light">
                          </div>
                          <div class="">
                              <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Your
                                  message</label>
                              <textarea id="message" rows="6"
                                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                  placeholder="Leave a comment..."></textarea>
                          </div>
                          <button type="submit" value="submit"
                              class="py-3 px-2 text-sm font-medium text-center bg-green-800 text-black rounded-lg ">Send
                              message</button>
                      </div>
                  </form>
              </div>
          </div>
     </section>
     
     {% endcomment %}

        

{% endblock %}